<form #challengeForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="challenge" class="m-form m-form--fit m-form--label-align-right">
  <div class="form-group m-form__group row">
    <div class="col-4 col-xs-12">
      <label for="title">
        Titel
      </label>
      <input class="form-control m-input" id="title" [(ngModel)]="challenge.title" name="title" required="">
    </div>
    <div class="col-4  col-xs-12">
      <label for="description">
        Beschreibung
      </label>
      <input class="form-control m-input" id="description" [(ngModel)]="challenge.description" name="description">
    </div>
    <div class="col-1 col-xs-12">
      <label for="rounds">
        Runden
      </label>
      <input class="form-control m-input" type="number" id="rounds" [(ngModel)]="challenge.rounds" name="rounds" required="">
    </div>
    <div class="col-3 col-xs-12 m-form__actions">
      <button class="btn btn-metal" type="submit">
        Submit
      </button>
      <button class="btn btn-secondary" (click)="reset()" type="reset">
        Cancel
      </button>
    </div>
  </div>
</form>