<!-- BEGIN: Subheader -->
<div class="m-subheader" >
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        Gamer
      </h3>
    </div>
  </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
  <div class="row">
    <div class="col-12">
      <div class="m-portlet m-portlet--full-height  m-portlet--unair">
        <div class="m-portlet__body">
          <app-attendee (save)="onSave($event)" [attendee]="selectedAttendee"></app-attendee>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="m-portlet m-portlet--full-height  m-portlet--unair">
        <div class="m-portlet__body">
          <div class="m-widget4">
            <div class="m-widget4__item" [class.m--hide]="lan.attendees && lan.attendees.length > 0">
              <div class="m-widget4__info">
                                <span class="m-widget4__title">
                                    Keine Einträge vorhanden
                                </span>
              </div>
            </div>

            <div class="m-widget4__item"
                 *ngFor="let attendee of lan.attendees"
                 (click)="selectedAttendee = attendee">
              <div class="m-widget4__info">
                                <span class="m-widget4__title">
                                    {{attendee.name}} ({{attendee.email}})
                                </span>
              </div>
              <div class="m-widget4__ext">
                <a class="m-btn m-btn--pill m-btn--hover-brand btn btn-sm btn-secondary" href="#" ng-reflect-href="#">
                  X
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>