<form #gameForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="game" class="m-form m-form--fit m-form--label-align-right">
  <div class="form-group m-form__group row">
    <div class="col-4">
      <label for="gameName">
        Name
      </label>
      <input class="form-control m-input" id="gameName" [(ngModel)]="game.name" name="name">
    </div>
    <div class="col-4">
      <label for="gameShortname">
        Shortname
      </label>
      <input class="form-control m-input" id="gameShortname" [(ngModel)]="game.shortname" name="shortname">
    </div>
    <div class="col-4 m-form__actions">
      <button class="btn btn-metal" type="submit">
        Submit
      </button>
      <button class="btn btn-secondary" (click)="reset()" type="reset">
        Cancel
      </button>
    </div>
  </div>
</form>