<form #royalBeefForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="royalBeef" class="m-form m-form--fit m-form--label-align-right">
  <div class="form-group m-form__group row">
    <div class="col-2">
      <label for="name">Name:</label>
      <input id="name" [(ngModel)]="royalBeef.name" name="name" class="form-control m-input">
    </div>
    <div class="col-4">
      <label for="games">Games:</label>
      <select id="games" [(ngModel)]="royalBeef.games" name="games" multiple class="form-control m-input">
        <option [value]="game" *ngFor="let game of lan.games" >{{game.name}}</option>
      </select>
    </div>
    <div class="col-4">
      <label for="attendees">Gamer:</label>
      <select id="attendees" [(ngModel)]="royalBeef.attendees" name="attendees" multiple class="form-control m-input">
        <option [value]="attendee" *ngFor="let attendee of lan.attendees" >{{attendee.name}}</option>
      </select>
    </div>
    <div class="col-2 m-form__actions">
      <button class="btn btn-metal" type="submit">
        Submit
      </button>
      <button class="btn btn-secondary" (click)="reset()" type="reset">
        Cancel
      </button>
    </div>
  </div>
</form>